AZURE_DEVOPS_PAT=""

REPO_URL=""

PIPELINE_ORGANIZATION_NAME=""
PIPELINE_PROJECT_NAME=""
PIPELINE_PATH=""
PIPELINE_NAME=""

PIPELINE_TRIGGER_BRANCHES=""

PIPELINE_VARIABLES=""

DEFAULT_BRANCH=""

DEVELOPMENT_DEPLOYMENT_GROUP_ID=""
DEVELOPMENT_TAGS=""
DEVELOPMENT_BRANCHES=""
DEVELOPMENT_VARIABLES=""

STAGING_DEPLOYMENT_GROUP_ID=""
STAGING_TAGS=""
STAGING_BRANCHES=""
STAGING_VARIABLES=""

PRODUCTION_DEPLOYMENT_GROUP_ID=""
PRODUCTION_TAGS=""
PRODUCTION_BRANCHES=""
PRODUCTION_VARIABLES=""
